Library/metadata/
Library/assetDatabase3
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/EditorInstance.json
Library/CurrentLayout.dwlt
Library/expandedItems
Library/LastSceneManagerSetup.txt
ProjectSettings/DynamicsManager.asset
ProjectSettings/Physics2DSettings.asset
Temp/
